In [4]:
print ("hello world "
      )

hello world

In [5]:
print ("welcome to the first day of python programing")

welcome to the first day of python programing

In [ ]:
#rule declaring the variables

In [ ]:
#rule 2 no space while declaring the varlable names

In [6]:
first name=huda
print(first name)

SyntaxError: invalid syntax (<ipython-input-6-1484439332e0>, line 1)

In [7]:
firstname="huda"
print (firstname)

huda

In [9]:
name2="huda"
print(name2)

huda

In [10]:
name="huda"
print(name)

huda

In [12]:
#rule4 varlable name can start with aunderscore
_name-'huda
print(_name)

SyntaxError: EOL while scanning string literal (<ipython-input-12-d7668a140ba2>, line 2)

In [ ]:
introduction to datatypes in python
1 string_ _ _ _ _ _ _str
2 numbers_ _ _ _ _ _ _interges(int)56 and float 56 5
3 list _ _ _ __ _ _ _ _ list
4tuple _ _ _ _ _ - _ _ _ tuple
5 dictionarles _ _ _ _ _-- _ _ dict