In [ ]:
operators in python
1.arithmetic operator
2.assignment operator
3.relational operator
4.logical operator

In [ ]:
 operator :used to performed mathematical,+,-,*,/,%

In [ ]:
operator             name                example
+                    addition             x + y

-                   subtraction            x - y

*                    multipliction        x * y

/                    division             x / y(return)

%                     modilus              x % y (return)

**                    exponentiation        x ** y

In [22]:
x=8
y=5
print(x+y)

13

In [23]:
print(x-y)

3

In [24]:
print(x*y)

40

In [25]:
x=8
y=2
print(x/y)

4.0

In [26]:
print(x%y)

0

In [27]:
x=2
y=5
print(x**y)#2*2*2*2*2

32

In [ ]:
assidnment operator:are used to assign values to the variables

In [ ]:
operator         example          same as
=                 x=5             x=5
+=                x+=3            x = x+3
-=                x -=            x=x-3
*=                x*=3            x=x*3
/=                x/=3            x=x/3
%                 x%=3            x=x%3

In [10]:
x = 5
print(x)

5

In [9]:
x+=4  #x=x+4
print(x)

19

In [8]:
x=5
x *= 3
print(x)

15

In [ ]:
relational operators or comparison operators:used to compare two value.

In [ ]:
operator    name                       example
==          equal                          x==y
!=          not equal                    x!=y
>           greaterthan                  x > y
<           less than                    x < y
>=          greater than or equal to     x >= y
<=          lessthan or equal to         x<= y

In [11]:
x=5
y=5
print(x==y)

True

In [12]:
x= 5
y= 4
print(x > y)

True

In [13]:
x = 3
y = 6
print(x>y)

False

In [14]:
print(x < y)

True

In [15]:
x=8
y=8
print(x>=y)

True

In [18]:
x = 8
y = 9
print(x>=y)

False

In [ ]:
logical operators:are used to combine conditional statement

In [ ]:
operator           description                                            example
and                 return true if both the statment are true             x < 5 and x < 10 

 or                  return true if one of the statement is true           x < 5 or x < 4  

 not                  reverse the output                                 not(x < 5 and x < 10)

In [ ]:
# example of and operator

In [19]:
x=5
print(x>3 and x<10)

True

In [ ]:
#example of or operator

In [20]:
x = 5 
print(x > 3 or x < 4)

True

In [ ]:
#example of not operator

In [21]:
x=5
print(not(x < 5 and x < 10))

True

In [ ]:
boolean represent one of two values : true or falseop